[Unit]
Description=CUPS LPD server
Documentation=man:cups-lpd(8)

[Service]
ExecStart=-/usr/libexec/cups/daemon/cups-lpd
StandardInput=socket
User=lp

